= bootstrap_form_for(@wide_status) do |f|
  - if @wide_status.errors.any?
    #error_explanation
      %h2= "#{pluralize(@wide_status.errors.count, "error")} prohibited this wide_status from being saved:"
      %ul
        - @wide_status.errors.full_messages.each do |msg|
          %li= msg
  = f.text_field :stage, label:"Stage of Development"
  .actions
    = f.submit 'Save'
