= bootstrap_form_for(@reg_status) do |f|
  - if @reg_status.errors.any?
    #error_explanation
      %h2= "#{pluralize(@reg_status.errors.count, "error")} prohibited this reg_status from being saved:"
      %ul
        - @reg_status.errors.full_messages.each do |msg|
          %li= msg
  = f.text_field :stage, label:"Stage of Development"
  .actions
    = f.submit 'Save'
