= form_for @shot_breakdown do |f|
  - if @shot_breakdown.errors.any?
    #error_explanation
      %h2= "#{pluralize(@shot_breakdown.errors.count, "error")} prohibited this shot_breakdown from being saved:"
      %ul
        - @shot_breakdown.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
