= bootstrap_form_for @shot_breakdown do |f|
  - if @shot_breakdown.errors.any?
    #error_explanation
      %h2= "#{pluralize(@shot_breakdown.errors.count, "error")} prohibited this shot_breakdown from being saved:"
      %ul
        - @shot_breakdown.errors.full_messages.each do |msg|
          %li= msg
  = f.text_field :title, label:"Name"
  = f.collection_select :set, Location.order('locations.name asc').all, :id, :name, include_blank:true, label:"Set"
  = f.text_area :description, label:"Description"
  = f.nested_fields_for :layers do |ff|
    = ff.remove_nested_fields_link 'Remove Layer', class: 'btn btn-danger btn-block', role: 'button'
    = ff.text_field :title, label:"Name"
    = ff.text_field :seconds, label:"Seconds"
    = ff.collection_select :difficulty, Difficulty.all, :id, :name, include_blank:true, label:"Difficulty"
    = ff.text_field :cam, label:"Cam"
    = ff.nested_fields_for :wide_puppets do |fff|
      .left= fff.collection_select :id, WidePuppet.order('wide_puppets.name asc').all, :id, :name, label:"Wide Puppet"
      .right= fff.remove_nested_fields_link 'Remove Wide Puppet', class: 'btn btn-danger', role: 'button'
    = ff.add_nested_fields_link :wide_puppets, 'Add Wide Puppet', class: 'btn btn-success btn-block', role: 'button'

    = ff.nested_fields_for :mc_puppets do |fff|
      .left= fff.collection_select :id, McPuppet.order('mc_puppets.name asc').all, :id, :name, label:"Mid-Close Puppet"
      .right= fff.remove_nested_fields_link 'Remove Mid-Close Puppet', class: 'btn btn-danger btn-block', role: 'button'
    = ff.add_nested_fields_link :mc_puppets, 'Add Mid-Close Puppet', class: 'btn btn-success btn-block', role: 'button'

    = ff.text_field :play_option, label:"Play Option"

    = ff.nested_fields_for :props do |fff|
      .left= fff.collection_select :id, Prop.order('props.name asc').all, :id, :name, label:"Prop"
      .right= fff.remove_nested_fields_link 'Remove Prop', class: 'btn btn-danger btn-block', role: 'button'
    = ff.add_nested_fields_link :props, 'Add Prop', class: 'btn btn-success btn-block', role: 'button'

    = ff.collection_select :wardrobe, Wardrobe.order('wardrobes.name asc').all, :id, :name, include_blank:true, label:"Wardrobe"

    = ff.text_field :tracking, label:"Tracking"
    = ff.select :pcolor, ["Blue", "Green", "White", "Black"], label:"PColor"
    = ff.text_area :notes, label:"Notes"
  = f.add_nested_fields_link :layers, 'Add Layer', class: 'btn btn-success btn-block', role: 'button'
  .actions
    = f.submit 'Save', class: 'btn btn-info btn-block'
