= bootstrap_form_for @shot_breakdown do |f|
  - if @shot_breakdown.errors.any?
    #error_explanation
      %h2= "#{pluralize(@shot_breakdown.errors.count, "error")} prohibited this shot_breakdown from being saved:"
      %ul
        - @shot_breakdown.errors.full_messages.each do |msg|
          %li= msg
  = f.text_field :title, label:"Name"
  = f.collection_select :set, Location.order('locations.name asc').all, :id, :name, include_blank:true, label:"Set"
  = f.text_area :description, label:"Description"
  = render 'new_layer'
  = f.submit 'Save', class: 'btn btn-info btn-block'
