%h1 Shot Breakdowns
=link_to 'New Shot Breakdown', new_shot_breakdown_path, class: "btn  btn-info btn-block"
%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th Name
      %th Set
      %th Description
      %th{:colspan => "2"} Commands
  %tbody
    - @shot_breakdowns.order('Shot_breakdowns.title asc').each do |breakdown|
      %tr
        %td= link_to "#{breakdown.title}", breakdown, class: "btn btn-primary btn-block"
        %td= Location.find_by(id: breakdown.set).name unless Location.find_by(id: breakdown.set) == nil
        %td= breakdown.description
        / %td= link_to 'Show', breakdown
        %td= link_to 'Edit', edit_shot_breakdown_path(breakdown), class: 'btn btn-warning r'
        %td= link_to 'Destroy', breakdown, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-block'

