%h1 Shot Breakdowns
=link_to 'New Shot Breakdown', new_shot_breakdown_path, class: "btn  btn-info btn-block"
%br/
%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th Name
      %th Set
      %th Description
      %th{:colspan => "3"} Commands
  %tbody
    - @shot_breakdowns.order('Shot_breakdowns.title asc').each do |breakdown|
      %tr
        %td= breakdown.title
        %td= Location.find_by(id: breakdown.set).name unless Location.find_by(id: breakdown.set) == nil
        %td= breakdown.description
        %td= link_to 'Edit', edit_shot_breakdown_path(breakdown)
        %td= link_to 'Destroy', breakdown, method: :delete, data: { confirm: 'Are you sure?' }
%br/

