= bootstrap_form_for @wide_puppet do |f|
  - if @wide_puppet.errors.any?
    #error_explanation
      %h2= "#{pluralize(@wide_puppet.errors.count, "error")} prohibited this wide_puppet from being saved:"
      %ul
        - @wide_puppet.errors.full_messages.each do |msg|
          %li= msg
  = f.text_field :name, label:"Name"
  = f.collection_select :status, WideStatus.all, :id, :stage, include_blank:true
  .actions
    = f.submit 'Save'
