= bootstrap_form_for(@layer) do |f|
  - if @layer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@layer.errors.count, "error")} prohibited this layer from being saved:"
      %ul
        - @layer.errors.full_messages.each do |msg|
          %li= msg
  = f.text_field :title, label:"Name"
  = f.text_field :seconds, label:"Seconds"
  = f.collection_select :difficulty, Difficulty.order('difficulties.name asc').all, :id, :name, include_blank:true, label:"Difficulty"
  = f.text_field :cam, label:"Cam"
  = f.nested_fields_for :wide_puppets do |ff|
    .left= ff.collection_select :id, WidePuppet.order('wide_puppets.name asc').all, :id, :name, label:"Wide Puppet"
    .right= ff.remove_nested_fields_link 'Remove Wide Puppet', class: 'btn btn-danger', role: 'button'
  = f.add_nested_fields_link :wide_puppets, 'Add Wide Puppet', class: 'btn btn-success btn-block', role: 'button'

  = f.nested_fields_for :mc_puppets do |ff|
    .left= ff.collection_select :id, McPuppet.order('mc_puppets.name asc').all, :id, :name, label:"Mid-Close Puppet"
    .right= ff.remove_nested_fields_link 'Remove Mid-Close Puppet', class: 'btn btn-danger btn-block', role: 'button'
  = f.add_nested_fields_link :mc_puppets, 'Add Mid-Close Puppet', class: 'btn btn-success btn-block', role: 'button'

  = f.text_field :play_option, label:"Play Option"

  = f.nested_fields_for :props do |ff|
    .left= ff.collection_select :id, Prop.order('props.name asc').all, :id, :name, label:"Prop"
    .right= ff.remove_nested_fields_link 'Remove Prop', class: 'btn btn-danger btn-block', role: 'button'
  = f.add_nested_fields_link :props, 'Add Prop', class: 'btn btn-success btn-block', role: 'button'

  = f.collection_select :wardrobe, Wardrobe.order('wardrobes.name asc').all, :id, :name, include_blank:true, label:"Wardrobe"

  = f.text_field :tracking, label:"Tracking"
  = f.text_field :pcolor, label:"PColor"
  = f.text_area :notes, label:"Notes"
  .actions
    = f.submit 'Save', class: "btn btn-info btn-block"
